<a href="https://colab.research.google.com/github/blbt123/TIS/blob/main/16%EC%9D%BC_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 파이썬에서 데이터에 최적화된 패키지
- numpy 자료형인 ndarray에 index를 추가한 것
- 대표적 자료형: Series, DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
# pandas 패기지를 불러오기 위한 명령어
import pandas as pd

In [4]:
# 시리즈 생성 (배열과 인덱스의 수가 일치해야한다)
pd.Series([1,2,3,4,5], index=['A','B','C','D','F'])

A    1
B    2
C    3
D    4
F    5
dtype: int64

In [19]:
s1=pd.Series([1,2,3], index=['일','이','삼'])

k=pd.Series([1,2,3], index=['철수', '영희', '바둑이'])

a=pd.Series([1,2,3], index=['머리', '가슴', '배'])

display(s1)
display(k)
display(a)

일    1
이    2
삼    3
dtype: int64

철수     1
영희     2
바둑이    3
dtype: int64

머리    1
가슴    2
배     3
dtype: int64

In [20]:
s2 = pd.Series([1,2,3], index=[1,2,3])
s2

1    1
2    2
3    3
dtype: int64

In [21]:
s2 = s2.astype(float)
s2

1    1.0
2    2.0
3    3.0
dtype: float64

In [25]:
# 연습문제
# 다음 조건을 만족하는 판다스 시리즈를 생성하시오.
# 값은 1~20로 구성되어 있고, 인덱스는 "A1"~"A20"으로 함

l = []

for i in range(1,21):
  l=l+[f'A{i}']
display(pd.Series(range(1,21),index = l))

A1      1
A2      2
A3      3
A4      4
A5      5
A6      6
A7      7
A8      8
A9      9
A10    10
A11    11
A12    12
A13    13
A14    14
A15    15
A16    16
A17    17
A18    18
A19    19
A20    20
dtype: int64

In [26]:
s3 = pd.Series({"A":1, "B":2, "C":3, "D":4})
s3

A    1
B    2
C    3
D    4
dtype: int64

In [27]:
s3.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
s3.values

array([1, 2, 3, 4])

In [29]:
print(type(s3.index))

<class 'pandas.core.indexes.base.Index'>

In [35]:
s1 = pd.Series([1,2,3], index = ["A", "B", "C"])
s2 = pd.Series([1,2,3], index = [1, 2, 3])
s3 = pd.Series({"A":1, "B":2, "C":2, 'D':4})
print(s1.index.intersection(s3.index))
print(s1.index.union(s3.index))
print(s3.index.difference(s1.index))

Index(['A', 'B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['D'], dtype='object')

In [36]:
s1 = pd.Series([1,2,3], index=[1,2,3])
s2 = pd.Series(['1','2','3'], index=[1,2,3])
print(s2)

1    1
2    2
3    3
dtype: object

In [39]:
pd.DataFrame([[1,2],[3,4]], index=["x","y"], columns=["a","b"])

   a  b
x  1  2
y  3  4

In [41]:
df1 = pd.DataFrame([[1,2],[3,4]], columns=["A","B"], index=["x","y"])
display(df1)

   A  B
x  1  2
y  3  4

In [42]:
df2 = pd.DataFrame([[1,2],[3,4]], index=["first index", "second index"], columns=["col1","col2"])
display(df2)

              col1  col2
first index      1     2
second index     3     4

In [43]:
df2.index

Index(['first index', 'second index'], dtype='object')

In [44]:
df2.columns

Index(['col1', 'col2'], dtype='object')

In [45]:
df3 = pd.DataFrame({"1번 학생": [1,2,3], "2번 학생": [4,5,6]}, index=["x","y","z"])
df3

   1번 학생  2번 학생
x      1      4
y      2      5
z      3      6

In [46]:
# 연습문제1
# 다음 학생들의 과목별 성적이 다음과 같습니다. 
# "중첩리스트" 구조를 활용하여 데이터프레임을 생성해 보세요.
# 영희 국,영,수 성적: 80, 90, 100
# 철수 국,영,수 성적: 86, 91, 93
# 영자 국,영,수 성적: 50, 90, 10

score = pd.DataFrame([[80,90,100],[86,91,93],[50,90,10]], columns=["영희","철수","영자"], index=["국","영","수"])
score

   영희  철수   영자
국  80  90  100
영  86  91   93
수  50  90   10

In [47]:
# 연습문제2
# 연습문제 1과 같은 상황입니다.
# "딕셔너리" 구조를 활용하여 데이터프레임을 생성해 보세요.
score2 = pd.DataFrame({"영희":[80,90,100],"철수":[86,91,93],"영자":[50,90,10]}, index=["국","영","수"])
score2

    영희  철수  영자
국   80  86  50
영   90  91  90
수  100  93  10

In [52]:
# 연습문제3: 다음 주간 식단을 데이터프레임 데이터 구조로 만들어 보세요.
# 월요일 밥,국,디저트: '쌀밥', '김치찌게', '샐러드'
# 화요일 밥,국,디저트: '잡곡밥', '된장찌게', '딸기맛 아이스크림'
# 수요일 밥,국,디저트: '쌀밥', '아욱국', '오렌지주스'
# 목요일 밥,국,디저트: '잡곡밥', '미역국', '바나나맛 아이스크림'
# 금요일 밥,국,디저트: '쌀밥', '소고기국', '포도주스'

menu = pd.DataFrame([['쌀밥','잡곡밥','쌀밥','잡곡밥','쌀밥'],['김치찌개','된장찌개','아욱국','미역국','소고기국'],
                     ['샐러드','딸기맛 아이스크림','오렌지주스','바나나맛 아이스크림','포도주스']],
                    columns=['월','화','수','목','금'],
                    index=['밥','국','디저트'])

menu1 = pd.DataFrame({'월':['쌀밥','김치찌개','샐러드'],
                      '화':['잡곡밥','된장찌개','딸기맛 아이스크림'],
                      '수':['쌀밥','아욱국','오렌지주스'],
                      '목':['잡곡밥','미역국','바나나맛 아이스크림'],
                      '금':['쌀밥','소고기국','포도주스']},
                     index=['밥','국','디저트'])
print("menu")
display(menu)
print(" ")
print("menu1")
display(menu1)

menu

        월          화      수           목     금
밥      쌀밥        잡곡밥     쌀밥         잡곡밥    쌀밥
국    김치찌개       된장찌개    아욱국         미역국  소고기국
디저트   샐러드  딸기맛 아이스크림  오렌지주스  바나나맛 아이스크림  포도주스

menu1

        월          화      수           목     금
밥      쌀밥        잡곡밥     쌀밥         잡곡밥    쌀밥
국    김치찌개       된장찌개    아욱국         미역국  소고기국
디저트   샐러드  딸기맛 아이스크림  오렌지주스  바나나맛 아이스크림  포도주스

In [53]:
msg_list = ["numpy","pandas","matplotlib"]
data = []

for msg in msg_list:
  record = [msg]
  for x in ["a","p","n"]:
    record.append(msg.count(x))
  data.append(record)

data = pd.DataFrame(data, columns=["message","a","p","n"])
display(data)

      message  a  p  n
0       numpy  0  1  1
1      pandas  2  1  1
2  matplotlib  1  1  0

In [54]:
"numpy".count("n")

1

In [55]:
import os
os.getcwd()

'/content'

In [56]:
%%writefile sample.csv

c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample.csv

In [57]:
df = pd.read_csv('sample.csv')

In [58]:
display(df)

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [60]:
scores = np.random.randint(100, size=(8,8))
scores_df = pd.DataFrame(scores, index=['국어','영어','수학','사회','과학','지리','사탐','국사'], columns=['A','B','C','D','E','F','G','H'])
scores_df.to_excel('scores.xlsx')

In [62]:
df = pd.read_excel('scores.xlsx')
df

  Unnamed: 0   A   B   C   D   E   F   G   H
0         국어  27  72  74  52  54  58  39  53
1         영어  49  61  92  32  50  77  38   9
2         수학  54  22  18  62  50  58  77  12
3         사회  55  71  57  42  91  10  25  56
4         과학  61  29   0  12   9  59  90  62
5         지리  56  26  45  33  95  25  18   8
6         사탐  76  62  76  76  57  58  62  24
7         국사  36  54  97  93  11  89  63  90

In [65]:
a = df.loc[3:5,"A":"D"]
a

    A   B   C   D
3  55  71  57  42
4  61  29   0  12
5  56  26  45  33