<a href="https://colab.research.google.com/github/blbt123/TIS/blob/main/23_02_21_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Ourclass:
  pass

In [ ]:
A = Ourclass()
B = Ourclass()

In [ ]:
print(type(A))
print(type(B))

<class '__main__.Ourclass'>
<class '__main__.Ourclass'>

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
class Stock:
  def __init__(self, name, market = "코스피"):
    self.name = name
    self.market = market
    

samsung = Stock("삼성전자", "코스피")
print(samsung.name, samsung.market)

삼성전자 코스피

In [ ]:
samsung.name = "삼성전자 주식회사"
print(samsung.name)

삼성전자 주식회사

In [ ]:
class Rectangle(object):

  def __init__(self, h, v):
    self.h = h
    self.v = v
  def area(self):
    return self.h * self.v

In [ ]:
a = Rectangle(2,1)
print(a.area())

2

In [ ]:
# 연습문제

# 삼각형의 넓이를 계산하기 위한 클래스를 만든다. 이 클래스는 다음과 같은 속성을 가진다.
# 밑변의 길이 b와 높이 h
# 삼각형의 넓이를 계산하는 메서드 area

class Triangle(object):
  def __init__(self, h, v):
    self.h = h
    self.v = v
  def area(self):
    return self.h * self.v * 1/2

In [ ]:
a = Triangle(3,2)
print(a.area())

3.0

In [ ]:
class Calculator:
  def __init__(self):
    self.result = 0
  
  def add(self, num):
    self.result += num
    return self.result

  def sub(self, num):
    self.result -= num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [ ]:
class Cookie:
  pass

In [ ]:
a = Cookie()
b = Cookie()

In [ ]:
class FourCal:
  pass

In [ ]:
a = FourCal()
type(a)

__main__.FourCal

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

In [ ]:
a = FourCal()
a.setdata(4,2)

In [ ]:
print(a.first)
print(a.second)

4
2

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

In [ ]:
a = FourCal()
a.setdata(4,2)

In [ ]:
print(a.add())

6

In [ ]:
a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,8)

In [ ]:
y = "wfefrew"
result = len(y)
result

7

In [ ]:
# 퀴즈1: 다음 문자열을 띄어쓰기를 기준으로(음절 단위로) 분할하시오

str1 = '파이썬은 awesome한 언어이다.'

# 퀴즈2: 다음 문자열에서 단어만 추출하시오(공백과 콤마를 제외)
str2 = "인공지능, 머신러닝, 딥러닝"

In [ ]:
# 1
print(str1.split(" "))

['파이썬은', 'awesome한', '언어이다.']

In [ ]:
print(str2.split(", "))
print(str2.replace(",","").split(" "))

['인공지능', '머신러닝', '딥러닝']
['인공지능', '머신러닝', '딥러닝']

In [ ]:
A = 30
B = 40
C = 50

print("A = {}, B = {}, C = {}".format(A,B,C))
print(f"A = {A}, B = {B}, C = {C}")

A = 30, B = 40, C = 50
A = 30, B = 40, C = 50

In [ ]:
L = ['a','b','c','d',1,2,3,4]
print(L[0], L[3], L[-1])

a d 4

In [ ]:
print("0번째: {}, 3번째: {}".format(L[0], L[3]))

0번째: a, 3번째: d

In [ ]:
L[1] = 'B'
L

['a', 'B', 'c', 'd', 1, 2, 3, 4]

In [ ]:
a = [1,2,3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a.pop(1)
a

[1, 3, 4, 5, 6]

In [ ]:
L = [[1,2,3,[10,20,30,40,50]], [4,5,6]]
print(len(L[0]))

4

In [ ]:
print(L[0][3][:4])

[10, 20, 30, 40]

In [ ]:
t = 1,2,3
l = list(t)
l

[1, 2, 3]

In [ ]:
t1 = tuple(l)
t1

(1, 2, 3)