<a href="https://colab.research.google.com/github/blbt123/TIS/blob/main/%EB%B3%B5%EC%8A%B5_2023_02_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **변수와 자료형**
- **변수**: 어떤 값을 저장하고 있는 공간
- **할당**: 특정한 값을 변수에 저장하는 것
- **형식**: 변수 = 변수에 저장할 값

In [ ]:
a = 1
b = 2
c = "안녕하세요"

- 변수를 출력  
  print(변수1, 변수2, ...)

In [ ]:
print(a, b, c)

1 2 안녕하세요

- **식별자(identifier)**  
  변수 등 객체를 식별하는데 사용, 영어 알파벳 또는 언더바(_)로 시작해야 한다. 
- **자료형(data type)**  
  저장하는 값의 종류, 자료형에 따라 변수의 특성과 사용할 수 있는 연산이 달라진다.

In [ ]:
# 숫자형과 문자형 조합

a + c

TypeError: ignored

In [ ]:
# 숫자형 변수와 문자 입력

a + "안녕하세요"

TypeError: ignored

위와 같이 형식이 일치하지 않으면 오류를 밷어내기도 한다.  
int: 정수형, str: 문자형

## 숫자형

- int: 정수형 (1, 2, 3, 4, ...)
- float: 실수형 (1.5, 2.5, 3.5, 4.5, ...)

In [ ]:
# 변수의 정의
a = 1
b = 1.5

# 할당된 변수의 형식 확인
print(type(a), type(b))

<class 'int'> <class 'float'>

## 형변환
변수의 형식을 바꾸는 작업
- 정수 -> 실수: a = float(a) 
- 실수 -> 정수: b = int(b)

In [ ]:
# 정수 -> 실수

a = float(a)

# 실수 -> 정수

b = int(b)

print(a)
print(b)

1.0
1

## **사칙연산**
- 더하기: +  
- 빼  기  : -  
- 곱하기: *
- 나누기: /

In [ ]:
# 사칙연산 예시

a = 5
b = 10
c = 25
d = 30

# 더하기

print(a + b)

# 빼  기

print(d - c)

# 곱하기

print(c * d)

# 나누기

print(d + b)

15
5
750
40

## 그 외의 연산

- 제곱  
  ```**```
- 나눗셈 후 **나머지**를 반환  
  ```%```
- 나눗셈 후 **몫**을 반환  
  ```//```

In [ ]:
# 제곱

print(13**2)

# 나눗셈 후 나머지를 반환

print(10 % 4)

# 나눗셈 후 몫을 반환

print(39 % 6)

169
2
3

## 문자열 만들기
문자열을 만들기 위해서는 따움표로 둘러싸야 하지만  
문장안에 큰따움표나 작은 따움표가 포함될 수 있기 때문에  
아래와 같은 4가지 방법으로 문자열을 만들 수 있다
- 큰 따움표(" ") 양쪽으로 둘러싸기
- 작은 따움표(' ') 양쪽으로 둘러싸기
- 큰 따움표 3개를 (""" """)양쪽으로 둘러싸기
- 작은따움표 3개를 (''' ''')양쪽으로 둘러싸기

### **백슬래시(\\)를 이용하여 작은 따움표와 큰따움표를 문자열에 포함시키기**
작은따움표나 큰 따움표 앞에 백슬래시를 삽입하여 사용

In [ ]:
# 문자열 만들기

# 큰 따움표(" ") 양쪽으로 둘러싸기

print("hellow python", "123")

# 작은 따움표(' ') 양쪽으로 둘러싸기

print('what do you want?', '456')

# 큰 따움표 3개를 (""" """)양쪽으로 둘러싸기

print("""what is your name""", """123""")

# 작은따움표 3개를 (''' ''')양쪽으로 둘러싸기

print('''good luck''', '''456''')

# 백슬래시(\) 이용

print('this is jay\'s car')

print("he said \"good luck\"")

hellow python 123
what do you want? 456
what is your name 123
good luck 456
this is jay's car
he said "good luck"

## 여러 줄인 문자열을 변수에 대입하고 싶을 때
- 연속된 작은따움표 3개 또는 큰따움표  3개 사용
- 이스케이프 코드 삽입(\n)
- 이스케이프 코드

| 코드 |                          설명                          |
|------|--------------------------------------------------------|
|  \n  | 문자열 안에서 줄을 바꿀 때 사용                        |
|  \t  | 문자열 사이에 탭 간격을 줄 때 사용                     |
| \\\\ | 문자(\\)를 그대로 표현할 때 사용                       |
|  \\' | 작은따움표(')를 그대로 표현할 때 사용                  |
|  \\" | 큰따움표(")를 그대로 표현할 때 사용                    |
|  \r  | 캐리지 리턴(줄 바꿈 문자, 혅재 커서를 가장 앞으로 이동 |
|  \f  | 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)      |
|  \a  | 벨 소리(출력할 때 PC 스피커에서 '삑'소리가 난다)       |
|  \b  | 백 스페이스                                            |
| \000 | 널 문자                                                |

이 중 사용빈도가 높은 것은 \n, \t, \\\\, \\', \\"


이스케이프 안에 있는 문자열을 이스케이프 문자가 아닌 그대로 출력하고 싶으면 문자열 앞에 r을 붙입니다.


\n코드를 사용하면 읽기 불편하고 줄이 길어지기 때문에 연속된 작은따움표 3개 또는 큰따움표 3개를 사용하기도 한다.

In [ ]:
# 예시

# \n 줄바꿈

a = "Life is short. \nYou need Python"

# \t 문자열 사이의 탭 간격

b = "인공지능\t머신러닝\t딥러닝"

# \\ 역슬래시 문자 그대로 표현

c = "역슬래시(\\)를 이용하여 특수한 현태의 문자를 정의할 수 있습니다."

# r을 이용하여 이스케이프 문자 무시하기

d = r"이스케이프 문자 \n \t 무시하기"

# 연속된 작은따움표 3개 또는 큰 따움표 3개 사용

e = '''
Life is too short

You need python
'''

f = """
이건은 제가 개발한 인공지는 프로그램입니다.
ㅇㅇㅇㅇ

ㅇㅇㅇㅇㅇ
"""


print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

Life is short.
You need Python
인공지능	머신러닝	딥러닝
역슬래시(\)를 이용하여 특수한 현태의 문자를 정의할 수 있습니다.
이스케이프 문자 \n \t 무시하기

Life is too short

You need python


이건은 제가 개발한 인공지는 프로그램입니다.
ㅇㅇㅇㅇ

ㅇㅇㅇㅇㅇ

In [ ]:
# 문자열 더하기
head = "python"
tail = "is fun!"
a = "파이썬을 이용한 "
b = "프로그래밍"

print(a + b)

print(head + tail)

파이썬을 이용한 프로그래밍
pythonis fun!

In [ ]:
# 문자열 곱하기

a = "python "
b = "파이썬 "
c = "programming "

print(a * 5)

print("-"*35)

print(b*5)

print("-"*35)

print(c*3)

python python python python python
-----------------------------------
파이썬 파이썬 파이썬 파이썬 파이썬
-----------------------------------
programming programming programming

In [ ]:
# 문자열 길이 구하기

a = "sdfasdfweregtglejhqejkfajnsdfwhrewrasdfsfdweaf"

len(a)

46

In [ ]:
# 문자열 인덱싱: 0부터 시작, 거꾸로 셀 때는 -1, -2, ...
print(a[0])
print(a[-3])
print(a[10])

s
e
e

In [52]:
# 슬라이싱
a = "hellow python"
b = "asflkjqlfiasdfweffag"
c = "20220815cloudy25C"
# 슬라이싱: 문자열[시작 인덱스 : 종료 인덱스 : 증가폭]
# 시작 인덱스 디폴트 = 0
# 종료 인덱스 디폴트 = 문자열 길이 끝 값, 종료 인덱스 입력하면 가장 끝 값은 제외
# 증가폭 디폴트 = 1

# 전부 포함
print(a[1:6:1])

# 시작 불포함
print(a[:6:1])

# 시작, 종료 불포함
print(a[::1])

# 종료 불포함
print(a[1::1])

# 종료, 증가폭 불포함
print(a[1::])

# 시작, 증가폭 불포함
print(a[:6:])

# 전부 불포함
print(a[::])

# 글자 조합
print(b[2:4] + b[-2:])

# 문자 나누기
year = c[:4]
month = c[4:6]
day = c[6:8]
weather = c[8:14]
temp = c[-3:]
print("{}.{}.{} 날씨는 {}이고, 기온은 {}입니다".format(year, month, day, weather, temp))

# 문자열 수정
w = "pithon"
re = w[:1] + "y" + w[2:]
print(re)

ellow
hellow
hellow python
ellow python
ellow python
hellow
hellow python
flag
2022.08.15 날씨는 cloudy이고, 기온은 25C입니다
python

In [17]:
# find, index
a = 'Hello python'

# find: find('찾을 문자', 찾는 시작점 위치(0부터 시작)), find는 찾고자 하는 값이 없으면 -1로 나옴
print(a.find('l',4))
print(a.find('l',3))
print(a.find('l',2))


# index: index('찾을 문자', 찾는 시작점 위치(0부터 시작)), 찾고자 하는 값이 없으면 오류
print(a.index('l',3))
print(a.index('l',1))

-1
3
2
3
2

In [19]:
# replace("대상", "변경내용")

a = "너가 기침소리를 내었는가?"

print(a.replace("너가", "누가"))

누가 기침소리를 내었는가?

In [24]:
a = "송실장 개객기"

# 친절한 버전
b = a.replace("송","thd")
c = b.replace("객","tp")

print(c)

# 불친절

print(a.replace("송","thd").replace("객","tp"))
print(a.replace("송","thd").replace("개객기","TlqkfrotpRl"))

thd실장 개tp기
thd실장 개tp기
thd실장 TlqkfrotpRl

In [25]:
# split: 문자열에 포함된 문자를 기준으로 나눌 수 있다.

a = "어? 어!? 어!?! 어!?!? 어!?!?!! 어!?!?!!!"

a.split(" ")

['어?', '어!?', '어!?!', '어!?!?', '어!?!?!!', '어!?!?!!!']

In [30]:
# format: 문자열의 빈칸을 채우는데 사용

A = "안녕"
B = "뭘봐"
C = "어어?? 쓰읍!"
D = "?!?!?"

str1 = "영희가 철수를 보며 이렇게 말했습니다.{}!".format(D)
print(str1)

영희가 철수를 보며 이렇게 말했습니다.?!?!?!

In [24]:
# 숫자 바로 대입 (포맷코드)
a = "I have %d dollers" % 4
print(a)

# 글자 바로 대입 (포맷코드)
b = "%s딸라" % "사"
print(b)

# 변수로 대입
me = "나는"
c = "%r 누구인가?" % me
print(c)

#2개 이상 값 넣기
year = 2023
month = 2
day = 13
d = "오늘은 %d.%d.%d 입니다." % (year, month, day)
print(d)

I have 4 dollers
사딸라
'나는' 누구인가?
오늘은 2023.2.13 입니다.

## 문자열 포맷 코드

|**코드**|           **설명**          |
|--------|-----------------------------|
|   %s   | 문자열                      |
|   %c   | 문자 1개                    |
|   %d   | 정수                        |
|   %f   | 부동소수                    |
|   %o   | 8진수                       |
|   %x   | 16진수                      |
|   %%   | Literal % (문자```%```자체) |